$shodow: 0px 1px 1px rgba(100, 116, 139, 0.06), 0px 1px 2px rgba(100, 116, 139, 0.1);
$rad: 8px;
$pad: 40px 24px;
body {
    background-color: #F9FAFC;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-container__chart {
        display: flex;
        gap: 30px;
        align-items: center;
        padding: 20px;
        .bar__container {
            padding: $pad;
            border-radius: $rad;
            width: 70%;
            box-shadow: $shodow;
            display: flex;
            flex-direction: column;
            gap: 24px;
            .bar__top {
                width: 100%;
                justify-content: space-between;
                display: flex;
                border-bottom: 1px solid #e6e8f0;
                padding-bottom: 30px;
                h2 {
                    font-size: 18px;
                }
                a {
                    font-size: 14px;
                }
            }
            .bar__bottom {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                a {
                    font-size: 14px;
                }
            }
        }
        .doughnut__container {
            box-shadow: $shodow;
            padding: $pad;
            width: 28%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            h2 {
               font-size: 18px;
               border-bottom: 1px solid #e6e8f0;
               padding: 24px; 
            }
            .doughnut__bottom {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
                .icon__box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    overflow: hidden;
                    span {
                        font-weight: 700;
                        font-size: 32px;
                    }
                }
                .icon__box:nth-child(1) {
                    span {
                        color: #1070CA;
                    }
                }
                .icon__box:nth-child(2) {
                    span {
                        color: #F7D154;
                    }
                }
                .icon__box:nth-child(3) {
                    span {
                        color: #EC4C47;
                    }
                }
            }
        }
    //    #doughnutChart {
    //         width: 10;
    //         height: 10;
    //     } 
    }
    .main-screen__bottom {
        display: flex;
        gap: 30px;
        align-items: center;
        text-align: left;
        box-shadow: $shodow;
        .main-lastest__products {
            width: 30%;
           display: flex;
           flex-direction: column;
           box-shadow: $shodow;
           .product__row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 16px;
            border-bottom: 1px solid #e6e8f0;
            img {
                cursor: pointer;
            }
            h3 {
                font-size: 16px;
                font-weight: 400;
            }
            span {
                color: #6B7280;
                font-size: 14px;
            }
           }

        }
        h2 {
            text-transform: capitalize;
            font-size: 18px;
            border-bottom: 1px solid #e6e8f0;
            padding: 24px;
        }
        .main-lastest__orders {
            width: 70%;
            display: flex;
            flex-direction: column;
            table {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                thead, tbody {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    tr {
                        text-align: left;
                        width: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                    }
                    th, td {
                        padding: 16px;
                        text-align: left;
                    }
                    td {
                        font-size: 14px;
                    }
                }
                thead {
                    background-color: #F3F4F6;
                    th {
                        font-weight: 600;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                }
                tbody {
                    tr {
                        border-bottom: 1px solid #e6e8f0;
                        td:nth-child(1), td:last-child {
                            text-transform: uppercase;
                        }
                        td:last-child {
                            span {
                                background-color: #FFB020;
                                color: white;
                                padding: 8px;
                                font-weight: 600;
                                font-size: 12px;
                                border-radius: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}