$clr-purple: #5048E5;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}
.container {
    margin: 0 auto;
    width: 90%;
}
a, button {
    text-decoration: none;
    cursor: pointer;
}
a {
    color: $clr-purple;
}